.home {
  background-image: url("../../assets/mobileBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.destination {
  background-image: url("../../assets/destination/background-destination-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.crew {
  background-image: url("../../assets/crew/background-crew-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tech {
  background-image: url("../../assets/technology/background-technology-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 62rem) {
  .home {
    background-image: url("../../assets/homeBg.png");
    background-position: top right;
  }
  .destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }

  .crew {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }

  .tech {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}
